[hubic]
email           =   no
password        =   no
# The password used to encrypt/decrypt the data
crypt_password  =   no
# This is the folder on hubic that will contain folders
# for each backup directory
backup_dir      =   root

### Backup sections ###
# You can have multiple backups defined here.

[pictures]
# If you want to exclude files and folders from being backed up,
# create a new file in this folder with the name:
# <section_name>_exclude.txt
# e.g. pictures_exclude.txt
encrypt         =   yes
source_dir      =   /home/user/Pictures
hubic_dir       =   Pictures
# You can also schedule this backup, available choices:
# reboot, annually, monthly, weekly, daily, hourly
# 'reboot' is simply "at boot"
schedule = no
